{% extends "blog_entry.html" %}

{% block content %}
<section>
	<h3>Recent Blog Entries</h3>
	<dl>
	    {% for entry in blog %}
		<dt><a href="{% url 'blog-entry' slug=entry.slug %}">{{ entry.title }}</a> &nbsp;&nbsp; <small>Posted: {{ entry.posted }} | Last edited: {{ entry.edited }}</small></dt>
		<dd>
		    {{ entry.content|striptags|truncatewords:30 }}
		</dd>
		{% endfor %}
    </dl>
</section>
{% endblock %}
