{% extends "base.html" %}

{% block extrahead %}
<link href="blog.rss" rel="alternate" type="application/rss+xml">
<link href="blog.atom" rel="alternate" type="application/atom+xml">
{% endblock %}

{% block content %}
<section>
	<h3>{{ entry.title }}</h3>
    <small>Posted: {{ entry.posted }} | Last edited: {{ entry.edited }}</small>
	<div>{{ entry.content }}</div>
</section>
{% endblock %}
