@import url(http://weloveiconfonts.com/api/?family=fontawesome|openwebicons|zocial);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome';
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons';
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial';
}
