{% extends "base.html" %}
{% load static %}

{% block title %}The portfolio of T. Scott Barnes{% endblock %}

{% block extra_styles %}
  <link href="{% static 'less/portfolio.less' %}" rel="stylesheet" type="text/less">
{% endblock %}

{% block sbleft %}
  <hr>
  <section>
    <h3>External Links</h3>
    <ul>
      <li><a class="openwebicons-remote-storage" href="http://launchpad.net/~tsbarnes">Launchpad.net</a></li>
      <li><a class="fontawesome-github" href="http://github.com/tsbarnes">Me on GitHub</a></li>
      <li><a class="fontawesome-github" href="http://github.com/no-dice">No-Dice GitHub</a></li>
      <li><a class="openwebicons-feed-simple" href="http://llc.no-dice.net/">No Dice Blog</a></li>
      <li><a class="fontawesome-link" href="http://no-dice.net/">No-Dice.Net</a></li>
    </ul>
  </section>
{% endblock %}

{% block content %}
  {% for cslug, category in categories.items %}
    <section class="gallery {{ cslug }}">
      <h3>{{ category.name }}</h3>
      <ul>
        {% for eslug, entry in category.entries.items %}
          <li><a href="{{ entry.url }}"><img src="{{ entry.img.url }}" width="200" height="150" alt="{{ entry.description }}" data-link="{{ entry.url }}"></a></li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/portfolio.js' %}" type="text/javascript"></script>
{% endblock %}
