/* Portfolio Stylesheet */

.gallery {
  ul {
	  padding: 0.5em;
	  margin: 0;
	  list-style-type: none;
    li {
	    display: inline-block;
	    margin: 0.25em;
	    width: 200px;
	    height: 150px;
	    border: #000 thin dashed;
	    overflow: hidden;
	    cursor: pointer;
	  }
    &.small-thumbs li {
	    width: 100px;
	    height: 75px;
    }
  }
}
