/* Resume */

#skills li {
	display: inline-block;
	width: 15em;
}

table {
	width: 100%;
}

table caption {
	font-style: italic;
	font-size: small;
}

th, td {
	padding: 0 0.25em;
	text-align: center;
	width: 50%;
}