{% extends "base.html" %}

{% block last_edited %}
2013-04-30
{% endblock %}

{% block sbleft %}
<hr>
<section>
    <h3>External Links</h3>
    <ul>
        <li><a class="zocial-googleplus" href="https://plus.google.com/117097409595871683738"><span>Google+</span></a></li>
        <li><a class="zocial-facebook" href="http://www.facebook.com/TScottBarnes"><span>Facebook</span></a></li>
        <li><a class="zocial-linkedin" href="http://www.linkedin.com/in/tsbarnes"><span>LinkedIn</span></a></li>
        <li><a class="zocial-twitter" href="http://twitter.com/tscottbarnes"><span>Twitter</span></a></li>
    </ul>
</section>
{% endblock %}

{% block content %}
<section class="about-me">
    <h3>About Me</h3>
    <h4>Professional Info</h4>
    <p>
        I'm a software/Web developer with almost 20 years of experience in
        the open source community. Currently I'm doing freelance work, and
        have my own startup company, <a href="http://llc.no-dice.net/">No
        Dice</a>. My company's first product is
        <a href="https://no-dice.net/">No-Dice.Net</a>, a web platform for
        tabletop games.
    </p>
    <p>
        I've been working with <a href="http://opensource.org/">open source
        software</a> since around 1995, when I first installed
        <a href="http://slackware.com/">Slackware</a> on my computer after
        getting tired of the constant issues
        <a href="http://wikipedia.org/wiki/Windows_95">Windows 95</a>
        would have. Having used
        <a href="http://en.wikipedia.org/wiki/Solaris_%28operating_system%29">
        Solaris</a> at a friend's house (his father used it for work), I
        decided to look for a <a href="http://en.wikipedia.org/wiki/Unix-like">
        Unix-like</a> I could run. I stumbled across
        <a href="http://slackware.com/">Slackware</a>, and have used
        <a href="https://en.wikipedia.org/wiki/Linux">Linux</a> as my primary
        operating system ever since. I still try out other OSes, it's a hobby
        of mine.
    </p>
    <p>
        After using <a href="http://slackware.com/">Slackware</a> for about a
        week I decided I wanted to contribute something back, and started
        learning all I could about programming and package management
        solutions. Having had experience with
        <a href="https://en.wikipedia.org/wiki/C_%28programming_language%29">C</a>
        in school (which I later learned was unusual, as most schools
        jump from <a href="https://en.wikipedia.org/wiki/BASIC">BASIC</a> to
        <a href="https://en.wikipedia.org/wiki/C%2B%2B">C++</a>), I started
        coding an improved yet backward-compatible
        <a href="http://sourceforge.net/projects/slaktool/">package manager</a>
        for <a href="http://slackware.com/">Slackware</a>. It never made it
        in to <a href="http://slackware.com/">Slackware</a> officially, but it
        was a good start.
    </p>
    <p>
        I've loved programming since playing with
        <a href="http://en.wikipedia.org/wiki/Logo_%28programming_language%29">Logo</a>
        as a kid, and open source work meant I could use it for something that
        would actually help people. So I've tried to contribute back to most of the open
        source projects I use, as well as creating open source projects of
        my own.
    </p>
    <p>
        In the past five years or so I've grown very fond of working with
        <a href="http://www.djangoproject.com/">Django</a>, as well as being a strong
        advocate of <a href="http://www.html5rocks.com/">HTML5 and CSS3</a>. I've
        always been meticulous about standards compliance and following best
        practices for coding, and that has led me to love working with
        <a href="http://www.python.org">Python</a> in general, and with web
        design/development.
    </p>
    <p>
        I can't wait to see how technology grows and evolves in the future,
        and you can bet I'll be learning as much of it as I can.
    </p>
    <hr>
    <h4>Personal Info</h4>
    <p>
        I am happily married, and have been for almost two and a half years.
        In August I'm going to have a son!
    </p>
</section>
<section>
    <h3>Contact Info</h3>
    <strong class="fontawesome-envelope"> Email:</strong>
    <address>
        <dl>
            <dt>Main:</dt>
            <dd><a href="mailto:barnes.t.scott@gmail.com">barnes.t.scott@gmail.com</a></dd>
            <dt>Personal:</dt>
            <dd><a href="mailto:tsbarnes@tsbarnes.com">tsbarnes@tsbarnes.com</a></dd>
            <dt>School:</dt>
            <dd><a href="mailto:tbarnes0037@email.vccs.edu">tbarnes0037@email.vccs.edu</a></dd>
            <dt>Company:</dt>
            <dd><a href="mailto:tsbarnes@no-dice.net">tsbarnes@no-dice.net</a></dd>
        </dl>
    </address>
</section>
{% endblock %}

{% block sbright %}
<section>
    <h3>Social Widgets</h3>
</section>
{% endblock %}
