<!doctype html>
<html lang="en">
  {% load static %}
  {% load compress %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="shortcut icon" content="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <meta name="icon" content="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <meta name="description" content="T. Scott Barnes' personal website, portfolio, resume, and more">
    <meta name="author" content="T. Scott Barnes, tsbarnes@tsbarnes.com">
    <meta name="revised" content="{% block last_edited %}{% endblock %}">
    <title>{% block title %}The website of T. Scott Barnes{% endblock %}</title>
    <link href="https://plus.google.com/117097409595871683738" rel="author">
    <link href="http://fonts.googleapis.com/css?family=Electrolize" rel="stylesheet" type="text/css">
    <link href="{% static 'css/iconfonts.css' %}" rel="stylesheet" type="text/css">
    {% compress css %}
      <link href="{% static 'css/normalize.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'less/core.less' %}" rel="stylesheet" type="text/less">
      {% block extra_styles %}{% endblock %}
    {% endcompress %}
    <!--<link href="blog.rss" rel="alternate" type="application/rss+xml">
    <link href="blog.atom" rel="alternate" type="application/atom+xml">!-->
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="container">
      <div id="header_wrapper">
        <header>
          <h1>T. Scott Barnes</h1>
        </header>
      </div>
      {% if not hide_left_sidebar %}
        <div class="sidebar left">
          <section>
            <h3>Site Links</h3>
            <ul>
              <li><a class="fontawesome-home" href="{% url 'home' %}"><span>Main Page</span></a></li>
              <li><a class="fontawesome-user" href="{% url 'about' %}"><span>About Me</span></a></li>
              <li><a class="fontawesome-tags" href="{% url 'resume' %}"><span>Resumé</span></a></li>
              <li><a class="fontawesome-briefcase" href="{% url 'portfolio' %}"><span>Portfolio</span></a></li>
              <li><a class="fontawesome-comment" href="{% url 'blog' %}"><span>Blog</span></a></li>
            </ul>
          </section>
          {% block sbleft %}{% endblock %}
        </div>
      {% endif %}
      <div class="content {% if hide_left_sidebar %}expand-left{% endif %} {% if hide_right_sidebar %}expand-right{% endif %}">
        {% block content %}{% endblock %}
      </div>
      {% if not hide_right_sidebar %}
        <div class="sidebar right">
          {% block sbright %}{% endblock %}
        </div>
      {% endif %}
      <footer>
        &copy; 2013 T. Scott Barnes <a class="fontawesome-envelope" href="mailto:tsbarnes@tsbarnes.com"><span>tsbarnes@tsbarnes.com</span></a>
      </footer>
      <div style="display: none;" class="preview">
        <figure>
          <img>
          <figcaption>
            <a class="fontawesome-external-link">Go to the site</a>
          </figcaption>
          <button class="close fontawesome-remove"> </button>
        </figure>
      </div>
    </div>
    {% compress js %}
      <script src="{% static 'js/jquery-2.0.0.js' %}" type="text/javascript"></script>
      <script>
        $("section h3:first-child()").on("click", function(event) {
          $(this).parent().children().not(this).slideToggle()
        });
      </script>
      {% block scripts %}{% endblock %}
    {% endcompress %}
  </body>
</html>
