{% extends "base.html" %}
{% load static %}

{% block last_edited %}
2013-04-30
{% endblock %}

{% block extra_styles %}
<link href="{% static 'less/portfolio.less' %}" rel="stylesheet" type="text/less">
{% endblock %}

{% block content %}
<section>
    <h3>About This Site</h3>
    <p>
        This the personal website of T. Scott Barnes.
    </p>
</section>
<section class="gallery">
    <h3>Portfolio Examples</h3>
    <ul class="small-thumbs">
        {% for entry in portfolio %}
        <li><a href="{{ entry.url }}"><img src="{{ entry.img.url }}" width="100" height="75" alt="{{ entry.description }}" data-link="{{ entry.url }}"></a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}

{% block sbright %}
<section>
    <h3>Recent Blog Entries</h3>
    <ul>
        {% for entry in blog %}
        <li><a href="{% url 'blog-entry' slug=entry.slug %}">{{ entry.title }}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/portfolio.js' %}" type="text/javascript"></script>
{% endblock %}
