{% extends "base.html" %}
{% load static %}

{% block title %}The resume of T. Scott Barnes{% endblock %}

{% block extra_styles %}
<link href="{% static 'css/resume.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block sbleft %}
		<hr>
		<section>
			<h3>Downloads</h3>
			<ul>
				<li><a href="files/ProgrammingResume.pdf">PDF</a></li>
				<li><a href="files/ProgrammingResume.odt">ODT</a></li>
				<li><a href="files/ProgrammingResume.docx">DOCX</a></li>
			</ul>
		</section>
{% endblock %}

{% block content %}
		<section id="contact">
		    <h3>Contact Info</h3>
			<address>
                <strong>Timothy Scott Barnes</strong>
			    {% for email in emails %}
			    <br><em>{{ email.email }}</em>
			    {% endfor %}
			    {% for phone in phones %}
			    <br><em>{{ phone.phone }}</em>
			    {% endfor %}
			</address>
		</section>
		<section id="summary">
			<h3>Summary</h3>
			{% for entry in about %}
			<p>{{ entry.summary }}</p>
			{% endfor %}
		</section>
		<section id="skills">
			<h3>Skills &amp; Expertise</h3>
			<ul>
			    {% for skill in skills %}
			    <li>{{ skill.name }}</li>
			    {% endfor %}
			</ul>
		</section>
		<section id="experience">
			<h3>Experience</h3>
			<dl>
			    {% for job in jobs %}
				<dt><strong>{{ job.title }} at {{ job.company }}</strong>
					{% if job.started %}<time>{{ job.started }}</time> to <time>{% if job.ended %}{{ job.ended }}{% else %}present{% endif %}</time>{% endif %}
				</dt>
				<dd>{{ job.description }}</dd>
				{% endfor %}
			</dl>
		</section>
		<section id="projects">
			<h3>Projects</h3>
			<dl>
				<dt><strong>Django Bootstrap Themes</strong>
					<time>November 2012</time>
					to
					<time>Present</time>
				</dt>
				<dd> <em>Members:</em> Timothy Barnes<br>
					Developing and maintaining a Django app for allowing selectable themes using Twitter Bootstrap. </dd>
				<dt><strong>Indicator-Keylock</strong>
					<time>July 2010</time>
					to
					<time>Present</time>
				</dt>
				<dd> <em>Members:</em> Timothy Barnes<br>
					Developing an application indicator for Ubuntu that displays the status of the various lock keys, for systems
					that lack the keyboard LEDs. </dd>
				<dt><strong>GNOME Lock Dialog Preferences</strong>
					<time>March 2009</time>
					to
					<time>January 2010</time>
				</dt>
				<dd> <em>Members:</em> Timothy Barnes<br>
					Developed an application for controlling various "hidden" features of the GNOME lock dialog from GNOME
					2. </dd>
				<dt><strong>No-Dice.Net</strong>
					<time>October 2012</time>
					to
					<time>Present</time>
				</dt>
				<dd> <em>Members:</em> Timothy Barnes, Steven Lepire, Jenny Barnes<br>
				</dd>
			</dl>
		</section>
		<section id="volunteering">
			<h3>Volunteer Experience</h3>
			<dl>
				<dt><strong>System Technician at Dubs Etc</strong> <time>April 2001</time> - <time>September 2001</time></dt>
				<dd> I tested computer components donated to the company, repaired damaged computer systems, and built new
					computer systems for sale to benefit the disabled. </dd>
			</dl>
		</section>
		<section id="education">
			<h3>Education</h3>
			<dl>
				<dt><strong>Germanna Community College</strong></dt>
				<dd> Information Systems Technology, <em>in progress</em> </dd>
			</dl>
		</section>
		<section id="courses">
			<h3>Courses</h3>
			<table>
				<caption>
				Information Systems Technology at Germanna Community College
				</caption>
				<thead>
					<tr>
						<th>Course Name</th>
						<th>Course Number</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Web Design II</td>
						<td>ITD 210</td>
					</tr>
					<tr>
						<td>Web Design I</td>
						<td>ITD 110</td>
					</tr>
					<tr>
						<td>Database Administration</td>
						<td>ITD 136</td>
					</tr>
					<tr>
						<td>Java Programming I</td>
						<td>IST 149</td>
					</tr>
					<tr>
						<td>C++ Programming</td>
						<td>IST 156</td>
					</tr>
					<tr>
						<td>Network Security &amp; Firewalls</td>
						<td>ITN 263</td>
					</tr>
					<tr>
						<td>Unix Systems</td>
						<td>ITN 171</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section id="recommendations">
			<h3>Recommendations</h3>
			<article>
				<blockquote> Scott is very adept at programming, and his facility with C is quite impressive. He is very creative and
					intelligent, and excellent at out-of-the-box thinking. In addition to having taught Scott both basic Java
					programming and mathematics, I have contracted him for several projects over the past several years. In this
					professional capacity, he has never disappointed me. </blockquote>
				— Steven Lepire, Scribe and Tutor, Germanna Community College, taught Timothy at Northern Virginia
				Community College </article>
		</section>
{% endblock %}
