@import "mixins.less";

@bgStartColor:      rgba(255, 244, 233, 1.0);
@bgEndColor:        rgba(222, 211, 200, 1.0);
@bgDarkEndColor:    rgba(155, 144, 133, 1.0);

@borderColor:       rgba(  0,   0,   0, 1.0);

@linkColor:         rgba(255,  96,   0, 1.0);
@visitedLinkColor:  rgba(255, 128,  64, 1.0);

@shadow:            rgba(  0,   0,   0, 0.5);

@gravatarURL:       "http://www.gravatar.com/avatar/fc253ee1e529fcebb1a3bfd8855c5e90.png";

/* General */
a {
  &:link {
    color: @linkColor;
    text-decoration: none;
  }
  &:visited {
    color: @visitedLinkColor;
  }
  &:active {}
  &:hover {}
  &:focus {}
  &[class*="fontawesome-"]:before,
  &[class*="openwebicons-"]:before,
  &[class*="zocial-"]:before {
    padding-right: 0.5em;
  }
  & > span {
    font-family: "Electrolize", monospace;
    font-weight: 100;
  }
}

address {
	margin-left: 2em;
}

section {
  a {
    text-shadow: fade(@shadow, 50%) 0.05em 0.05em 0;
  }
  & > h3:first-child {
    font-family: "Electrolize", monospace;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
  }
}

html,
body {
  height: 100%;
  font-family: "Electrolize", monospace;
  font-weight: 100;
}

#container {
  position: relative;
  min-height: 100%;
  height: auto !important;
}

/* Header */
#header_wrapper {
  padding: 0.5em;
}

header {
  padding: 0.5em;
  border: thin ridge @borderColor;
  box-shadow: 0.1em 0.1em 0 fade(@shadow, 50%);
  text-align: center;
  & > h1 {
    display: inline;
    color: @linkColor;
    font-family: "Electrolize", monospace;
    font-weight: 900;
    text-shadow: fade(@shadow, 50%) 0.05em 0.05em 0;
    @media (min-width: 900px) {
      font-size: 80pt;
    }
  }
  @media (min-width: 900px) {
    .headerBackground(url("@{gravatarURL}?s=128&d=identicon&r=g"), fade(@bgStartColor, 50%), fade(@bgDarkEndColor, 50%));
		height: 128px;
		padding-left: 160px;
	}
  @media (max-width: 899px) {
    .headerBackground(url("@{gravatarURL}?s=48&d=identicon&r=g"), fade(@bgStartColor, 50%), fade(@bgDarkEndColor, 50%));
		min-height: 48px;
		padding-left: 64px;
	}
}

/* Sidebars */
.sidebar {
	padding: 0.5em;
	margin: 0 0.5em 0.5em;
	border: thin ridge @borderColor;
	box-shadow: 0.1em 0.1em 0 fade(@shadow, 50%);
  .linearVerticalGradient(fade(@bgStartColor, 50%), fade(@bgEndColor, 50%));
  ul {
	  list-style-type: none;
	  list-style-position: inside;
	  margin: 0;
	  padding: 0;
	}
  a {
	  display: inline;
  }
  hr {
	  border: none;
	  border-bottom: thin dashed @borderColor;
  }
  @media (min-width: 900px) {
		position: absolute;
		margin-top: 2.5em;
		top: 121px;
		bottom: 2.5em;
		width: 9.5em;
		overflow: auto;
	  &.left {
		  margin-left: 0.5em;
		  left: 0;
      text-align: right;
	  }
	  &.right {
		  margin-right: 0.5em;
		  right: 0;
      text-align: left;
	  }
  }
  @media (max-width: 899px) {
	  &.left li {
		  display: inline;
	  }
	  &.left li:after {
		  content: ' | ';
	  }
	  &.left li:last-of-type:after {
		  content: '';
	  }
  }
}

/* Main content containers */
.content {
	position: relative;
	overflow: auto;
  @media (min-width: 900px) {
		margin-left: 11em;
		margin-right: 11em;
		padding-bottom: 2.5em;
	  &.expand-right {
		  margin-right: 0;
		}
	}
  section {
	  border: thin ridge @borderColor;
	  box-shadow: 0.1em 0.1em 0 fade(@shadow, 50%);
	  margin: 0 0.5em 0.5em;
	  padding: 0.5em;
	  overflow: auto;
    .linearVerticalGradient(fade(@bgStartColor, 50%), fade(@bgEndColor, 50%));
	}
}

.about-me {
  h4 {
	  margin: 0.5em;
  }
  p {
	  margin-left: 1em;
  }
}

/* Footer */
footer {
	padding: 0.5em;
	margin: 0.5em;
	border: thin ridge @borderColor;
	box-shadow: 0.1em 0.1em 0 fade(@shadow, 50%);
  .linearVerticalGradient(fade(@bgStartColor, 50%), fade(@bgEndColor, 50%));
  @media (min-width: 900px) {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 1em;
		a {
		  float: right;
	  }
	}
}

/* Previews */

.preview {
	position: absolute;
	background-color: fade(@shadow, 50%);
	top: 0;
	left: 0;
	right: 0;
	min-height: 100%;
	height: auto !important;
	z-index: 100;
  figure {
    overflow: auto;
    padding: 1em;
    border: thin solid @borderColor;
    box-shadow: 0.1em 0.1em 0 fade(@shadow, 50%);
    .linearVerticalGradient(@bgStartColor, @bgEndColor);
    img {
      display: block;
      background: fade(@shadow, 20%);
      padding: 0.5em;
      margin: auto;
    }
    @media (min-width: 900px) {
      position: absolute;
      width: 500px;
      height: 350px;
      margin: -175px -250px;
      top: 50%;
      left: 50%;
      img {
        width: 400px;
      }
    }
    @media (max-width: 899px) {
      position: relative;
      max-width: 500px;
      margin: auto;
      img {
        width: 90%;
        max-width: 400px;
      }
    }
  }
  figcaption {
	  padding-top: 0.5em;
	  text-align: center;
  }
  .close {
	  position: absolute;
	  top: 1px;
	  right: 1px;
	  border: none;
	  background: none;
  }
}
