/* LESS Mixins */

.headerBackground(@image, @startColor, @endColor) {
    background: @image 0.5em no-repeat,
      -webkit-gradient(linear, left bottom, left top, color-stop(1.0, @startColor), color-stop(0.0, @endColor));
    background: @image 0.5em no-repeat,
      -webkit-linear-gradient(to bottom, @startColor, @endColor);
    background: @image 0.5em no-repeat,
      -moz-linear-gradient(to bottom, @startColor, @endColor);
    background: @image 0.5em no-repeat,
      -ms-linear-gradient(to bottom, @startColor, @endColor);
    background: @image 0.5em no-repeat,
      -o-linear-gradient(to bottom, @startColor, @endColor);
    background: @image 0.5em no-repeat,
      linear-gradient(to bottom, @startColor, @endColor);
}

.linearVerticalGradient(@startColor, @endColor) {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1.0, @startColor), color-stop(0.0, @endColor));
  background: -webkit-linear-gradient(to bottom, @startColor, @endColor);
  background: -moz-linear-gradient(to bottom, @startColor, @endColor);
  background: -ms-linear-gradient(to bottom, @startColor, @endColor);
  background: -o-linear-gradient(to bottom, @startColor, @endColor);
  background: linear-gradient(to bottom, @startColor, @endColor);
}
